Repository DeveloperAcademy-POSTECH/2025-C4-M5-T5, pull requests merged in 2025-07, with the labels that each got.

#18 Feat: 윷 던지기 전 환경 및 윷판 세팅 #16
  Yut/Yut.xcodeproj/project.pbxproj
  Yut/Yut/APP/ARState.swift
  Yut/Yut/APP/ARViewContainer.swift
  Yut/Yut/APP/ContentView.swift
  Yut/Yut/APP/Coordinator/AppCoordinator.swift
  Yut/Yut/APP/Coordinator/Coordinator.swift
  Yut/Yut/Core/Utils/.gitkeep
  Yut/Yut/Features/Extenstions/ARPlaneAnchor+Extension.swift
  Yut/Yut/Resources/dummy_board.usdz
  Yut/Yut/UIComponents/.gitkeep
  Yut/Yut/UIComponents/InstructionView.swift
  Yut/Yut/UIComponents/RoundedBrownButton.swift
Labels: feat

#21 feat: 코칭 오버레이뷰 추가 #19
  Yut/Yut/APP/ARViewContainer.swift
  Yut/Yut/Features/Extenstions/ARView+Extension.swift
Labels: feat

#38 feat: WinnerView UI 구현
  Yut/Yut/Features/GamePlay/Views/WinnerView.swift
Labels: ✨feat

#60 fix: boardmodel reconstruction
  Yut/Yut/Features/GamePlay/Models/BoardModel.swift
Labels: bug, ✨feat

#65 fix: piecemodel reconstruction
  Yut/Yut/Features/GamePlay/Models/PieceModel.swift
  Yut/Yut/Features/GamePlay/Models/PlayerModel.swift
Labels: bug

#67 feat: Plane Detection Progress Bar UI 구현
  Yut/Yut/Features/GamePlay/Views/HomeView.swift
  Yut/Yut/UIComponents/ProgressBar.swift
Labels: ✨feat

#74 fix: edit game logic
  Yut/Yut/Features/GamePlay/Models/PieceModel.swift
  Yut/Yut/Features/GamePlay/ViewModels/Move.swift
  Yut/Yut/Features/GamePlay/ViewModels/Play.swift
Labels: bug

#71 feat: YutResultDisplay 컴포넌트 구현
  Yut/Yut/Features/Extenstions/YutResult+DisplayText.swift
  Yut/Yut/UIComponents/YutResultDisplay.swift
Labels: ✨feat

#85 feat: ARSessionLoadingView 구현
  Yut/Yut/Features/GamePlay/Views/ARSessionLoadingView.swift
  Yut/Yut/UIComponents/InstructionView.swift
Labels: ✨feat

#93 feat: 같은 플레이어의 말일 경우 업기 여부를 선택할 수 있도록 수정
  Yut/Yut/Features/GamePlay/ViewModels/GameManager.swift
Labels: ✨feat

#94 fix: 각 Model에서 Argument가 빠진 오류
  Yut/Yut/Features/GamePlay/Multipeer/MPCManager.swift
  Yut/Yut/Features/GamePlay/Multipeer/MPCManager_Session.swift
Labels: 🚨bug, 🌱리뷰 기다리는 중

#98 fix: WaitingRoom에서 PlayerModel.Load 오류 수정
  Yut/Yut/Features/GamePlay/Views/WaitingRoom/WaitingRoomView.swift
Labels: 🚨bug, 🌱리뷰 기다리는 중

#103 fix: PlayerModel dummy 데이터 주입
  Yut/Yut/Features/Lobby/Models/PlayerModel.swift
Labels: 🚨bug, 🌱리뷰 기다리는 중

#105 feat: WinnerView 리팩토링 및 리디자인
  Yut/Yut/Assets.xcassets/Color/piece_blue.colorset/Contents.json
  Yut/Yut/Assets.xcassets/Color/piece_jade.colorset/Contents.json
  Yut/Yut/Assets.xcassets/Color/piece_red.colorset/Contents.json
  Yut/Yut/Assets.xcassets/Color/piece_yellow.colorset/Contents.json
  Yut/Yut/Features/Lobby/Views/WinnerView.swift
  Yut/Yut/Resources/PieceType.swift
  Yut/Yut/UIComponents/DecoratedBackground.swift
  Yut/Yut/UIComponents/InstructionView.swift
Labels: ✨feat

#111 fix: 컨플릭 해결하다 날아간 코드 복원
  Yut/Yut/Features/ARGamePlay/State/Enums/ARAction.swift
Labels: 🚨bug

#114 fix: MPCManager 쉼표 오류 해결
  Yut/Yut/Features/Lobby/Multipeer/MPCManager.swift
Labels: 🚨bug

#117 feat: MPC 다인원 연결 구현
  Yut/Yut.xcodeproj/project.pbxproj
  Yut/Yut/APP/RootView.swift
  Yut/Yut/Features/Lobby/Multipeer/MPCManager.swift
  Yut/Yut/Features/Lobby/Multipeer/MPCManager_Guest.swift
  Yut/Yut/Features/Lobby/Multipeer/MPCManager_Host.swift
  Yut/Yut/Features/Lobby/Multipeer/MPCManager_Session.swift
  Yut/Yut/Features/Lobby/Views/NameInput/GuestNameInputView.swift
  Yut/Yut/Features/Lobby/Views/NameInput/HostNameInputView.swift
  Yut/Yut/Features/Lobby/Views/NameInput/NameInputFormView.swift
  Yut/Yut/Features/Lobby/Views/RoomList/RoomListView.swift
  Yut/Yut/Features/Lobby/Views/WaitingRoom/WaitingRoomView.swift
  Yut/Yut/Features/Lobby/Views/WaitingRoom/WaitingRoomViewModel.swift
  Yut/Yut/Info.plist
Labels: ✨feat, 🌱리뷰 기다리는 중

#126 Fix/tiny detail ver2 120
  Yut/Yut/Features/Lobby/Views/HomeView.swift
  Yut/Yut/Features/Lobby/Views/NameInput/GuestNameInputView.swift
  Yut/Yut/Features/Lobby/Views/NameInput/HostNameInputView.swift
  Yut/Yut/Features/Lobby/Views/NameInput/NameInputFormView.swift
  Yut/Yut/Features/Lobby/Views/RoomList/RoomListView.swift
  Yut/Yut/Features/Lobby/Views/RoomList/RoomRowView.swift
  Yut/Yut/Features/Lobby/Views/WaitingRoom/EmptyPlayerCard.swift
  Yut/Yut/Features/Lobby/Views/WaitingRoom/PlayerCard.swift
  Yut/Yut/Features/Lobby/Views/WaitingRoom/WaitingRoomView.swift
  Yut/Yut/Features/Lobby/Views/WinnerView.swift
Labels: 🚨bug

#134 Feat: 윷 결과에 따른 말 이동 구현 (위치 선택, 이동 애니메이션)
  Yut/Yut/Features/ARGamePlay/ARCoordinator.swift
  Yut/Yut/Features/ARGamePlay/Manager /ActionStreamHandler.swift
  Yut/Yut/Features/ARGamePlay/Manager /GestureHandler.swift
  Yut/Yut/Features/ARGamePlay/Manager /PieceManager.swift
  Yut/Yut/Features/ARGamePlay/PlayView.swift
  Yut/Yut/Features/ARGamePlay/State/Enums/ARAction.swift
  Yut/Yut/Features/Lobby/Manager/GameManager.swift
  Yut/Yut/Features/Lobby/Models/PieceModel.swift
Labels: ✨feat

#141 feat: 윷 던지기 버튼 눌렀을 때 윷 모이는 애니메이션 추가 #115
  Yut/Yut/Assets.xcassets/Yut.0030.imageset/Contents.json
  Yut/Yut/Assets.xcassets/Yut.0030.imageset/Yut.0030.png
  Yut/Yut/Features/ARGamePlay/Manager /YutManager.swift
  Yut/Yut/Features/ARGamePlay/PlayView.swift
  Yut/Yut/Features/ARGamePlay/State/ARState.swift
  Yut/Yut/Features/ARGamePlay/YutGatheringSequenceView.swift
  Yut/Yut/Resources/YutGatheringSequence/Yut.0001.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0002.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0003.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0004.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0005.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0006.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0007.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0008.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0009.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0010.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0011.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0012.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0013.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0014.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0015.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0016.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0017.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0018.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0019.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0020.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0021.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0022.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0023.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0024.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0025.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0026.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0027.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0028.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0029.png
  Yut/Yut/Resources/YutGatheringSequence/Yut.0030.png
  Yut/Yut/UIComponents/ProgressBar.swift
  Yut/Yut/UIComponents/RoundedBrownButton.swift
Labels: ✨feat

#142 feat: 효과음 주입
  Yut/Yut/Features/ARGamePlay/Manager /YutManager.swift
  Yut/Yut/Features/ARGamePlay/Service/SoundService.swift
  Yut/Yut/Resources/CollectYut.mp3
  Yut/Yut/Resources/ShootAndYut.mp3
Labels: ✨feat

#146 feat: 윷 모을 때 나는 효과음 주입
  Yut/Yut/Features/ARGamePlay/PlayView.swift
  Yut/Yut/Resources/CollectYut.mp3
Labels: ✨feat

#153 feat: 업을지 말지 선택하는 창 구현
  Yut/Yut/Features/ARGamePlay/Manager /YutManager.swift
  Yut/Yut/UIComponents/CarryChoiceModalView.swift
  Yut/Yut/UIComponents/RoundedBrownButton.swift
  Yut/Yut/UIComponents/UIViewButton.swift
Labels: ✨feat

#158 feat: 앱 아이콘
  Yut/Yut/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Yut/Yut/Resources/Assets.xcassets/AppIcon.appiconset/appIcon_dark.png
  Yut/Yut/Resources/Assets.xcassets/AppIcon.appiconset/appIcon_light.png
  Yut/Yut/Resources/Assets.xcassets/AppIcon.appiconset/appIcon_tinted_clear.png
  Yut/Yut/UIComponents/CarryChoiceModalView.swift
Labels: ✨feat

#168 fix: 윷 던지는 버튼 하이드
  Yut/Yut/Features/ARGamePlay/ARCoordinator.swift
  Yut/Yut/Features/ARGamePlay/ARViewContainer.swift
  Yut/Yut/Features/ARGamePlay/Managers/YutManager.swift
  Yut/Yut/Features/ARGamePlay/PlayView.swift
  Yut/Yut/Features/ARGamePlay/State/ARState.swift
  Yut/Yut/Features/Lobby/Manager/GameManager.swift
Labels: 🔨fix

#177 feat: 기기 한 대로 플레이하는 버전의 WaitingRoom 구현 & players 연결(완료✨)
  Yut/Yut/APP/RootView.swift
  Yut/Yut/APP/YutApp.swift
  Yut/Yut/Features/ARGamePlay/ARCoordinator.swift
  Yut/Yut/Features/ARGamePlay/Managers/ActionStreamHandler.swift
  Yut/Yut/Features/ARGamePlay/PlayView.swift
  Yut/Yut/Features/ARGamePlay/State/Enums/ARAction.swift
  Yut/Yut/Features/Lobby/Views/NameInput/NameInputFormView.swift
  Yut/Yut/Features/Lobby/Views/RoomList/RoomListView.swift
  Yut/Yut/Features/Lobby/Views/WaitingRoom/AddPlayerCard.swift
  Yut/Yut/Features/Lobby/Views/WaitingRoom/AddPlayerModalView.swift
  Yut/Yut/Features/Lobby/Views/WaitingRoom/PlayerCard.swift
  Yut/Yut/Features/Lobby/Views/WaitingRoom/WaitingRoomView.swift
  Yut/Yut/Features/Lobby/Views/WaitingRoom/WaitingRoomViewModel.swift
Labels: ✨feat

#178 chore: 윷 모이는 애니메이션 크기 조절 & 윷 모이는 소리 살짝 배속
  Yut/Yut/Features/ARGamePlay/PlayView.swift
  Yut/Yut/Features/ARGamePlay/Services/SoundService.swift
  Yut/Yut/Features/ARGamePlay/YutGatheringSequenceView.swift
Labels: 🔨fix
